body {
    font: normal 15pt Arial;
    background: rgb(122, 182, 94)
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10pt;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3)
}
footer{
  color: white;
  font-style: italic;
  text-align: center;
}
p{
    text-align: center;
}